body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

a{
    color: inherit;
    text-decoration: none;
}

nav{
    background-color: rgb(250, 162, 114);
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
}

nav ul{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    color: rgb(63, 63, 63);
    font-weight: bold;
}

nav li:hover{
    color: black;
}

nav img{
    height: 50px;
}

header{
    background-image: url(assets/background-homepage.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 5%;
}

header .boutons{
    display: flex;
    justify-content: center;
    width: 100vw;
    flex-wrap: wrap;
    gap: 50px;
}

header img{
    margin:5%;
}

header .bouton img{
    width: 30px;
    height: 30px;
}

.bouton{
    display: flex;
    flex-direction: row;
    white-space: nowrap;
    align-items: center;
    color: rgb(255, 255, 255);
    background-color: rgb(250, 162, 114);
    border-radius: 15px;
    width: 180px;
    height: 30px;
    padding: 8px 16px;
    transition: all .3s ease-in-out;
}